/*général*/
body{
    margin: 0px;
	padding: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    background: black;
    display: flex;
    flex-direction: row-reverse;
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

/*colonne gauche*/
.profil_picture{
    border-radius: 50%;
    width: 200px;
    border: #00508E 4px solid;
    margin: auto;
    display: block;
    position: relative;
    top: 20px;
}

.left_bloc{
    background: #0063B1;
    font: bold;
    color: black;
    margin-right: -30px; 
    min-height: 1400px; 
}

.a_propos_content, .loisirs_content{
    padding: 50px;
}

.contact_content{
    padding: 20px;
}

.left_title{
    background: #263238;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #0063B1;
}

.contact_title{
    margin-top: 40px;
    margin-bottom: 25px;
}

.contact_content li{
    margin-bottom: 8px;
    margin-top: 15px;
}

h2{
    font-size: 1.7em;
    font-weight: 550;
}

.loisirs_bloc{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0063B1;
}

.loisirs_content{
    display: flex;
    justify-content: space-around;
}


.loisirs_content img{
    height: 70px;
}

.left_bloc a{
    color: black;
    font-style: italic;
}

.left_bloc a:hover{
    color: #262626;
    text-decoration: none;
}

/*colonne droite*/
.right_bloc{
    padding: 40px;
    background: #E4E4E4;   
    min-height: 1400px;
    display: table;
}

.right_bloc p{
    padding: 10px 20px 0px 20px;
}

.right_title{
    text-shadow: rgb(100, 100, 100) 1px 1px 5px;
    border-bottom: #0063B1 solid 3px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.profil_picture_2{
    border-radius: 50%;
    width: 200px;
    border: #00508E 4px solid;
    margin: auto;
    position: relative;
    float: right;
}

.name_bloc{
    vertical-align: middle;
}

.name{
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 0;
}

#maxime{
    color: #0063B1;
    font-weight: 550;
}

.job_title{
    color: #262626;
    font: bold;
    font-size: 1.5em;
    margin-bottom: 100px;
}

.title_underline{
    border-bottom: #0063B1 solid 2px;
    padding-bottom: 5px;
}

/*conditions écrans téléphone*/
@media screen and (max-width: 767px){

    .profil_picture{
        display: none;
    }

    .contact_title{
        margin-top: -10px;
        margin-bottom: 25px;
    }

    .left_bloc{
        min-height: 900px;
    }

    .right_bloc{
        min-height: 900px;
    }

    
}

/*conditions écrans PC*/
@media screen and (min-width:768px){

    .profil_picture_2{
        display: none;
        
    }


}